<html>
<head>
    <title>Example Dashboard</title>

</head>
<body>

<h1>
    <center>Dashboard</center>
</h1>
<span><center>Если пользователи не отображаются, значит превышен лимит запросов к github.</center></span>

<%= if users == [] do %>
<form action="/">
    <label for="gh_name">Username:</label>
    <input type="text" id="gh_name" name="gh_name"><br/>
    <input type="submit" value="Search">
</form>
<% else %>
<a href="/">Back</a>
<% end %>
<%= if users != [] do %>
<h2>INFO About User</h2>
<hr>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<table>
    <thead>
    <th>Avatar</th>
    <th>ID</th>
    <th>Login</th>
    <th>Public Repo</th>
    <th>Use Lang</th>
    </thead>
    <tbody>
    <%= for user <- users do %>
    <tr>
        <td><img src="<%= user.avatar %>" alt="Avatar" style="max-width: 100px;"></td>
        <td><%= user.id %></td>
        <td><a href="<%= user.url %>"><%= user.login %></a></td>
        <td>
            <%= for link <- user.links do %>
            <a href="<%= link %>" target="_blank">
                <%= link %>
            </a><br/>
            <% end %>
        </td>
        <td>
            <%= for lang <- user.langs do %>
            <%= lang %>
            <% end %>
        </td>
    </tr>
    <% end %>
    </tbody>
</table>
</body>
</html>
<% end %>